.overlapping-list {
  display: inline-flex;
  align-items: center;
  padding: 8px;
}

.circle {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 16px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--mat-sys-corner-full);
  background-color: var(--mat-sys-secondary-container);

  border: 1px solid var(--mat-sys-outline);

  margin-left: -16px;
}

.circle:first-child {
  margin-left: 0; /* Prevent the first circle from shifting left */
}

.circle p {
  color: var(--mat-sys-on-tertiary-container);
  font: var(--mat-sys-headline-small);
  margin: 0;

}