<app-titled-surface>
  <div class="wrap-frame">
    <app-configuration-options/>
    <div class="controls-pane">
      <mat-form-field appearance="outline">

        <mat-label>{{ formFieldLabel }}</mat-label>
        <input #analysisField matInput
               [formControl]="analysisNameControl"
               required>

        @if (analysisNameControl.invalid) {
          <mat-error>{{errorMessage}}</mat-error>
        }

        <button mat-icon-button matSuffix (click)="this.analysisNameControl.setValue('')" appStopPropagation>
          <mat-icon>cancel</mat-icon>
        </button>

      </mat-form-field>
      <div class="actions-frame">
        <button mat-stroked-button (click)="onCancel()">
          Zrušiť
        </button>

        <button mat-flat-button [disabled]="analysisNameControl.invalid" (click)="onProceed()">
          Analyzovať
        </button>
      </div>
    </div>
  </div>
</app-titled-surface>