:root {
  --md-sys-color-primary: rgb(56 105 60);
  --md-sys-color-surface-tint: rgb(56 105 60);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(186 240 183);
  --md-sys-color-on-primary-container: rgb(0 33 6);
  --md-sys-color-secondary: rgb(82 99 80);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(213 232 208);
  --md-sys-color-on-secondary-container: rgb(16 31 16);
  --md-sys-color-tertiary: rgb(57 101 107);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 235 242);
  --md-sys-color-on-tertiary-container: rgb(0 31 35);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(24 29 24);
  --md-sys-color-surface-variant: rgb(222 229 217);
  --md-sys-color-on-surface-variant: rgb(66 73 64);
  --md-sys-color-outline: rgb(114 121 111);
  --md-sys-color-outline-variant: rgb(194 201 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(238 242 233);
  --md-sys-color-inverse-primary: rgb(158 212 157);
  --md-sys-color-primary-fixed: rgb(186 240 183);
  --md-sys-color-on-primary-fixed: rgb(0 33 6);
  --md-sys-color-primary-fixed-dim: rgb(158 212 157);
  --md-sys-color-on-primary-fixed-variant: rgb(32 80 38);
  --md-sys-color-secondary-fixed: rgb(213 232 208);
  --md-sys-color-on-secondary-fixed: rgb(16 31 16);
  --md-sys-color-secondary-fixed-dim: rgb(185 204 180);
  --md-sys-color-on-secondary-fixed-variant: rgb(58 75 57);
  --md-sys-color-tertiary-fixed: rgb(188 235 242);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 35);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 83);
  --md-sys-color-surface-dim: rgb(215 219 211);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 245 236);
  --md-sys-color-surface-container: rgb(235 239 230);
  --md-sys-color-surface-container-high: rgb(230 233 225);
  --md-sys-color-surface-container-highest: rgb(224 228 219);

  /* material-theme/headline/small 24 / 16 -> 1.5*/
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-letter-spacing: 0px;


  /*    --material-theme-headline-large-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-headline-large-font-size: 32px;*/
  /*    --material-theme-headline-large-font-style: normal;*/
  /*    --material-theme-headline-large-font-weight: 400;*/
  /*    --material-theme-headline-large-letter-spacing: 0px;*/
  /*    --material-theme-headline-large-line-height: 40px;*/
  /*    --material-theme-headline-medium-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-headline-medium-font-size: 28px;*/
  /*    --material-theme-headline-medium-font-style: normal;*/
  /*    --material-theme-headline-medium-font-weight: 400;*/
  /*    --material-theme-headline-medium-letter-spacing: 0px;*/
  /*    --material-theme-headline-medium-line-height: 36px;*/
  /*    --material-theme-headline-small-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-headline-small-font-size: 24px;*/
  /*    --material-theme-headline-small-font-style: normal;*/
  /*    --material-theme-headline-small-font-weight: 400;*/
  /*    --material-theme-headline-small-letter-spacing: 0px;*/
  /*    --material-theme-headline-small-line-height: 32px;*/
  /*font-family: Roboto;*/
  /*font-size: ;*/
  /*font-style: normal;*/
  /*font-weight: ;*/

  /* {*/
  /*    --m3-label-large-font-size: 14px;*/
  /*    --m3-label-large-font-style: normal;*/
  /*    --m3-label-large-font-weight: 500;*/
  /*    --m3-label-large-letter-spacing: 0.10000000149011612px;*/
  /*    --m3-label-large-line-height: 20px;*/
  /*    --m3-label-medium-font-family: "Roboto", Helvetica;*/
  /*    --m3-label-medium-font-size: 12px;*/
  /*    --m3-label-medium-font-style: normal;*/
  /*    --m3-label-medium-font-weight: 500;*/
  /*    --m3-label-medium-letter-spacing: 0.5px;*/
  /*    --m3-label-medium-line-height: 16px;*/
  /*    --m3-label-medium-prominent-font-family: "Roboto", Helvetica;*/
  /*    --m3-label-medium-prominent-font-size: 12px;*/
  /*    --m3-label-medium-prominent-font-style: normal;*/
  /*    --m3-label-medium-prominent-font-weight: 600;*/
  /*    --m3-label-medium-prominent-letter-spacing: 0.5px;*/
  /*    --m3-label-medium-prominent-line-height: 16px;*/
  /*    --m3-title-large-font-family: "Roboto", Helvetica;*/
  /*    --m3-title-large-font-size: 22px;*/
  /*    --m3-title-large-font-style: normal;*/
  /*    --m3-title-large-font-weight: 400;*/
  /*    --m3-title-large-letter-spacing: 0px;*/
  /*    --m3-title-large-line-height: 28px;*/
  /*    --m3-title-small-font-family: "Roboto", Helvetica;*/
  /*    --m3-title-small-font-size: 14px;*/
  /*    --m3-title-small-font-style: normal;*/
  /*    --m3-title-small-font-weight: 500;*/
  /*    --m3-title-small-letter-spacing: 0.10000000149011612px;*/
  /*    --m3-title-small-line-height: 20px;*/
  /*    --material-theme-body-large-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-body-large-font-size: 16px;*/
  /*    --material-theme-body-large-font-style: normal;*/
  /*    --material-theme-body-large-font-weight: 400;*/
  /*    --material-theme-body-large-letter-spacing: 0.5px;*/
  /*    --material-theme-body-large-line-height: 24px;*/
  /*    --material-theme-body-medium-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-body-medium-font-size: 14px;*/
  /*    --material-theme-body-medium-font-style: normal;*/
  /*    --material-theme-body-medium-font-weight: 400;*/
  /*    --material-theme-body-medium-letter-spacing: 0.25px;*/
  /*    --material-theme-body-medium-line-height: 20px;*/
  /*    --material-theme-body-small-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-body-small-font-size: 12px;*/
  /*    --material-theme-body-small-font-style: normal;*/
  /*    --material-theme-body-small-font-weight: 400;*/
  /*    --material-theme-body-small-letter-spacing: 0.4000000059604645px;*/
  /*    --material-theme-body-small-line-height: 16px;*/
  /*    --material-theme-display-large-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-display-large-font-size: 57px;*/
  /*    --material-theme-display-large-font-style: normal;*/
  /*    --material-theme-display-large-font-weight: 400;*/
  /*    --material-theme-display-large-letter-spacing: -0.25px;*/
  /*    --material-theme-display-large-line-height: 64px;*/
  /*    --material-theme-display-medium-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-display-medium-font-size: 45px;*/
  /*    --material-theme-display-medium-font-style: normal;*/
  /*    --material-theme-display-medium-font-weight: 400;*/
  /*    --material-theme-display-medium-letter-spacing: 0px;*/
  /*    --material-theme-display-medium-line-height: 52px;*/
  /*    --material-theme-display-small-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-display-small-font-size: 36px;*/
  /*    --material-theme-display-small-font-style: normal;*/
  /*    --material-theme-display-small-font-weight: 400;*/
  /*    --material-theme-display-small-letter-spacing: 0px;*/
  /*    --material-theme-display-small-line-height: 44px;*/
  /*    --material-theme-headline-large-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-headline-large-font-size: 32px;*/
  /*    --material-theme-headline-large-font-style: normal;*/
  /*    --material-theme-headline-large-font-weight: 400;*/
  /*    --material-theme-headline-large-letter-spacing: 0px;*/
  /*    --material-theme-headline-large-line-height: 40px;*/
  /*    --material-theme-headline-medium-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-headline-medium-font-size: 28px;*/
  /*    --material-theme-headline-medium-font-style: normal;*/
  /*    --material-theme-headline-medium-font-weight: 400;*/
  /*    --material-theme-headline-medium-letter-spacing: 0px;*/
  /*    --material-theme-headline-medium-line-height: 36px;*/
  /*    --material-theme-headline-small-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-headline-small-font-size: 24px;*/
  /*    --material-theme-headline-small-font-style: normal;*/
  /*    --material-theme-headline-small-font-weight: 400;*/
  /*    --material-theme-headline-small-letter-spacing: 0px;*/
  /*    --material-theme-headline-small-line-height: 32px;*/
  /*    --material-theme-label-large-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-label-large-font-size: 14px;*/
  /*    --material-theme-label-large-font-style: normal;*/
  /*    --material-theme-label-large-font-weight: 500;*/
  /*    --material-theme-label-large-letter-spacing: 0.10000000149011612px;*/
  /*    --material-theme-label-large-line-height: 20px;*/
  /*    --material-theme-label-medium-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-label-medium-font-size: 12px;*/
  /*    --material-theme-label-medium-font-style: normal;*/
  /*    --material-theme-label-medium-font-weight: 500;*/
  /*    --material-theme-label-medium-letter-spacing: 0.5px;*/
  /*    --material-theme-label-medium-line-height: 16px;*/
  /*    --material-theme-label-small-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-label-small-font-size: 11px;*/
  /*    --material-theme-label-small-font-style: normal;*/
  /*    --material-theme-label-small-font-weight: 500;*/
  /*    --material-theme-label-small-letter-spacing: 0.5px;*/
  /*    --material-theme-label-small-line-height: 16px;*/
  /*    --material-theme-title-large-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-title-large-font-size: 22px;*/
  /*    --material-theme-title-large-font-style: normal;*/
  /*    --material-theme-title-large-font-weight: 400;*/
  /*    --material-theme-title-large-letter-spacing: 0px;*/
  /*    --material-theme-title-large-line-height: 28px;*/
  /*    --material-theme-title-medium-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-title-medium-font-size: 16px;*/
  /*    --material-theme-title-medium-font-style: normal;*/
  /*    --material-theme-title-medium-font-weight: 500;*/
  /*    --material-theme-title-medium-letter-spacing: 0.15000000596046448px;*/
  /*    --material-theme-title-medium-line-height: 24px;*/
  /*    --material-theme-title-small-font-family: "Roboto", Helvetica;*/
  /*    --material-theme-title-small-font-size: 14px;*/
  /*    --material-theme-title-small-font-style: normal;*/
  /*    --material-theme-title-small-font-weight: 500;*/
  /*    --material-theme-title-small-letter-spacing: 0.10000000149011612px;*/
  /*    --material-theme-title-small-line-height: 20px;*/
  /*}*/
}

body {
  font-family: "Roboto", Helvetica, serif;
  font-optical-sizing: auto;
  color: var(--text-color);
  line-height: 100%;
}