<div class="info-card">
  <div class="header">
    <div class="text-frame">
      <h1 aria-label="Názov analýzy">{{ analysis()!.name ?? "Name not loaded" }}</h1>
      <p>Informácie o analýze</p>
    </div>
    <mat-icon [matTooltip]="supportiveText" aria-label="Viac informacií">info_outlined</mat-icon>
  </div>
  <mat-list class="info-groups">
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <mat-icon matTooltipPosition="right"
                  matTooltip="Názov analyzovaného súboru"
                  aria-label="Názov analyzovaného súboru"
                  svgIcon="file-search-outline"
                  matListItemIcon></mat-icon>
        <p matListItemTitle>{{ analysis()!.analyzedFileName }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matTooltipPosition="right"
                  matTooltip="Dátum vykonania analýzy"
                  aria-label="Dátum vykonania analýzy"
                  matListItemIcon>
          date_range
        </mat-icon>
        <p matListItemTitle>{{ analysis()!.dateAnalyzed | date }}</p>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matTooltipPosition="right"
                  matTooltip="Počet vykonaných porovnaní"
                  aria-label="Počet vykonaných porovnaní"
                  svgIcon="compare-horizontal"
                  matListItemIcon></mat-icon>
        <p matListItemTitle>{{ analysis()!.numberOfComparisons | number }}</p>
      </mat-list-item>

    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <div class="item-with-chip">
          <mat-chip matTooltipPosition="right"
                    matTooltip="Zobraziť súbory formatu docx"
                    aria-label="Zobraziť súbory formatu docx">
            DOCX
          </mat-chip>
          <p>{{ analysis()!.docxFiles }} súborov</p>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="item-with-chip" matListItemTitle>
          <mat-chip matTooltipPosition="right"
                    matTooltip="Zobraziť súbory formatu doc"
                    aria-label="Zobraziť súbory formatu doc">
            DOC
          </mat-chip>
          <p>{{ analysis()!.docFiles }} súborov</p>
        </div>
      </mat-list-item>

<!--      <mat-list-item>-->
<!--        <div class="item-with-chip" matListItemTitle>-->
<!--          <mat-chip matTooltipPosition="right"-->
<!--                    matTooltip="Zobraziť súbory formatu pdf"-->
<!--                    aria-label="Zobraziť súbory formatu pdf">-->
<!--            PDF-->
<!--          </mat-chip>-->
<!--          <p>{{ analysis().pdfFiles }} súborov</p>-->
<!--        </div>-->
<!--      </mat-list-item>-->
    </mat-list>
    <mat-divider></mat-divider>

    <app-configuration-options variant="chip"/>
  </mat-list>
</div>
