.configuration {
  display: flex;
  flex-direction: column;


  min-width: fit-content;
  height: fit-content;

  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  background-color: var(--mat-sys-surface-container-high);
  border-radius: var(--mat-sys-corner-extra-large);
}

.configuration mat-selection-list {
  width: 100%;
}

.option {
  display: flex;

  width: 100%;
  box-sizing: border-box;

  padding: 8px;
  height: fit-content;

  align-items: center;
  align-self: stretch;
}

.option h3 {
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-title-small);
  margin: 0;

  flex-wrap: wrap;
  white-space: normal;
  overflow-wrap: break-word;
  height: fit-content;
}

.option p {
  color: var(--mat-sys-on-surface-variant);
  font: var(--mat-sys-body-medium);
  margin: 0;
  flex-wrap: wrap;
  white-space: normal;
  overflow-wrap: break-word;
  height: fit-content;
}


.card-header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 8px;
  align-self: stretch;
}

.card-header h1 {
  padding: 8px;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-title-large);
  margin: 0;
}