<div class="configuration">
  @if (variant === 'chip') {
    <div class="text-frame">
      <h1>{{ title }}</h1>
      <p>{{ subTitle }}</p>
    </div>

    <mat-chip-listbox>
      @if (this.selectedCount() == 0) {
        <mat-chip color="primary" matTooltipPosition="right"
                  matTooltip="Neboli použité žiadne možnosti konfigurácie">
          <div class="configuration-chip">
            <mat-icon class="mat-icon-tertiary">sentiment_dissatisfied</mat-icon>
            <p>Žiadna konfigurácia</p>
          </div>
        </mat-chip>
      }

      @for (option of configurationOptions(); track option.displayTitle) {

        @if (option.selected) {
          <mat-chip color="primary" matTooltipPosition="right"
                    [matTooltip]="option.displayDescription">
            <div class="configuration-chip">
              <mat-icon class="mat-icon-primary">check_outline</mat-icon>
              <p>{{ option.displayTitle }}</p>
            </div>
          </mat-chip>
        }
      }
      <!--      }-->
    </mat-chip-listbox>
  } @else {
    <div class="card-header">
      <h1>{{ title }}</h1>
      <button mat-icon-button (click)="resetToDefault()">
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
    </div>
    <mat-selection-list>
      @for (option of configurationOptions(); track option.displayTitle) {
        <mat-list-option class="option" [selected]="option.selected" (click)="toggleOption(option)">
          <h3 matListItemTitle>{{ option.displayTitle }}</h3>
          <p matListItemLine>{{ option.displayDescription }}</p>
        </mat-list-option>
        @if (!$last) {
          <mat-divider></mat-divider>
        }
      }

    </mat-selection-list>
  }
</div>
