<div class="configuration">
  @if (variant == 'chip') {
    <p>text</p>
<!--    @for (option of configurationOptions(); track option.displayTitle) {-->
<!--      <mat-chip>-->
<!--        {{option.displayTitle}}-->
<!--        <mat-icon>face</mat-icon>-->
<!--      </mat-chip>-->
<!--    }-->

  } @else {
    <div class="card-header">
      <h1>{{ title }}</h1>
      <button mat-icon-button (click)="resetToDefault()">
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
    </div>
    <mat-selection-list>
      @for (option of configurationOptions(); track option.displayTitle) {
        <mat-list-option class="option" [selected]="option.selected" (click)="toggleOption(option)">
          <h3 matListItemTitle>{{ option.displayTitle }}</h3>
          <p matListItemLine>{{ option.displayDescription }}</p>
        </mat-list-option>
        @if (!$last) {
          <mat-divider></mat-divider>
        }
      }

    </mat-selection-list>
  }
</div>
