<div class="frame">
  <app-titled-surface>

    <!-- Submission Table -->

    <table mat-table
           [dataSource]="submissionsDataSource"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">
      @for (col of submissionTableDefinitions; track col) {
        <ng-container [matColumnDef]="col.fieldName">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="col.fieldName"> {{ col.displayName }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element[col.fieldName] }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="moreButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button>Viac</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="submissionsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: submissionsDisplayedColumns;"></tr>

    </table>
  </app-titled-surface>
  <app-titled-surface>

    <!-- Clusters Table -->
    <table mat-table
           [dataSource]="clustersDataSource"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">

      @for (col of clusterTableDefinitions; track col) {
        <ng-container [matColumnDef]="col.fieldName">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="col.fieldName"> {{ col.displayName }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element[col.fieldName] }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="submissionList">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-submissions-list [numberOfSubmissions]="element.numberOfSubmissions"/>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="clusterDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: clusterDisplayedColumns;"></tr>

    </table>

  </app-titled-surface>
  <app-titled-surface>
    <!-- TODO: replace https://ej2.syncfusion.com/angular/documentation/heatmap-chart/getting-started?cs-save-lang=1&cs-lang=ts-->
    <app-image-wrapper imagePath="/assets/similarity-heat-map.png"
                       [imageWidth]="650"
                       imageDesc="Document similarity Heat Map"/>
  </app-titled-surface>

  <app-titled-surface>
    <app-image-wrapper imagePath="/assets/similarity-histogram.png"
                       [imageWidth]="620"
                       imageDesc="Document similarity Heat Map"/>

    <div ></div>
    <!--TODO: values should be derived from the context  -->
    <div class="stat-group">

      <app-stat-card name="Najvyššia podobnosť" value="98%">
        <app-image-wrapper imagePath="/assets/highest-sim.png"
                           [imageWidth]="50"
                           imageDesc="Najvyššia podobnosť"/>
      </app-stat-card>

      <app-stat-card name="Priemerná podobnosť" value="51%">
        <app-image-wrapper imagePath="/assets/average-similarity.png"
                           [imageWidth]="50"
                           imageDesc="Priemerná podobnosť"/>
      </app-stat-card>

    </div>

  </app-titled-surface>
</div>

<!--  </app-titled-surface>-->

<!--  <app-titled-surface>-->

