<div class="frame">
  <app-titled-surface>

    <!-- Submission Table -->
    <table mat-table
           [dataSource]="submissionsDataSource"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">
      @for (col of submissionTableDefinitions; track col) {
        <ng-container [matColumnDef]="col.fieldName">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="col.fieldName"> {{ col.displayName }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element[col.fieldName] }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="moreButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button>Viac</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="submissionsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: submissionsDisplayedColumns;"></tr>

    </table>
  </app-titled-surface>
  <app-titled-surface>
    <!-- Clusters Table -->
    <table mat-table
           [dataSource]="clustersDataSource"
           matSort (matSortChange)="onSorting($event)"
           class="mat-elevation-z8">

      @for (col of clusterTableDefinitions; track col) {
        <ng-container [matColumnDef]="col.fieldName">
          <th mat-header-cell *matHeaderCellDef
              [mat-sort-header]="col.fieldName"> {{ col.displayName }}
          </th>
          <td mat-cell *matCellDef="let element"> {{ element[col.fieldName] }}</td>
        </ng-container>
      }

      <ng-container matColumnDef="submissionList">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <app-submissions-list [numberOfSubmissions]="element.numberOfSubmissions"/>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="clusterDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: clusterDisplayedColumns;"></tr>

    </table>

  </app-titled-surface>
</div>

<!--  </app-titled-surface>-->

<!--  <app-titled-surface>-->

