<div class="nav-group">

  <mat-nav-list aria-label="Navigation sidebar">

    @if (isFullWidth() && displayHomeNav) {
      <app-nav-item-view [navItem]="homeNavItem ?? {}" [isFullWidth]="isFullWidth"></app-nav-item-view>
      <mat-divider></mat-divider>
    }

    @for (navItem of navItems; track navItem) {
      @if (!navItem.isFullWidthOnly) {

        <app-nav-item-view [navItem]="navItem"
                           [isActivated]="navItem.fullWidthName === activatedNavItem?.fullWidthName"
                           [isFullWidth]="isFullWidth">
        </app-nav-item-view>

      }
    }

  </mat-nav-list>

  @if (isFullWidth()) {
    <mat-nav-list>
      @for (navItem of navItems; track navItem) {
        @if (navItem.isFullWidthOnly) {
          <app-nav-item-view [navItem]="navItem" [isActivated]="false"/>
        }
      }
    </mat-nav-list>
  }

</div>
