.nav-group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-divider {
  opacity: 0.5;
}