<mat-nav-list aria-label="Navigation sidebar">
  @for (navItem of navItems; track navItem) {
    <!--    fullWidthName: string;-->
      <!--      iconPath: string;-->
      <!--      isIconSvg: boolean;-->
      <!--      isFullWidthOnly: boolean;-->
    @if (!navItem.isFullWidthOnly) {
      <a mat-list-item [activated]="navItem.fullWidthName === activatedNavItem?.fullWidthName">
        <span class="nav-item nav-item-expanded"
              [class.nav-item-expanded]="fullWidthNavItems()">
          @if (navItem.isIconSvg) {
            <mat-icon [svgIcon]="navItem.iconPath"/>
          } @else {
            <mat-icon>{{ navItem.iconPath }}</mat-icon>
          }

          @if (fullWidthNavItems()) {
            <p>{{ navItem.fullWidthName }}</p>
          }

        </span>
      </a>
    }


  }
</mat-nav-list>
