.status-chip {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.success {
  color: green;
}

.error {
  color: var(--mat-sys-error);
}

.in-process {
  color: var(--mat-sys-tertiary);
}
