.home {
  height: 100%;
}

.sidenav-colored {
  height: 100%;
  padding: 0.25rem;
  border-radius: 0;
  background-color: var(--mat-sys-surface-container);
}

.rail {
  width: 5rem;
}

.expanded {
  width: 20rem;
}

mat-sidenav-content {
  padding: 1rem;
}